@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,400;1,600&family=Montserrat:wght@300;400;500;600&display=swap');

html, body {
  margin: 0;      /* Removes default margins */
  padding: 0;     /* Removes default padding */
  box-sizing: border-box; /* A standard practice for easier layout */
}

/* Ensure your main content fills the view */
body {
  min-height: 100vh; /* Ensures the body covers at least the full viewport height */
  display: flex;     /* Allows flexible child layout (optional, but often helpful) */
  flex-direction: column; 
}
@keyframes moveLeftRight1 {
  0%, 100% {
    transform: translateX(-50%) scaleX(0.6);
    opacity: 0.7;
  }
  50% {
    transform: translateX(-50%) scaleX(1);
    opacity: 1;
  }
}

@keyframes moveLeftRight2 {
  0%, 100% {
    transform: translateX(-50%) scaleX(0.6);
    opacity: 0.7;
  }
  50% {
    transform: translateX(-50%) scaleX(1);
    opacity: 1;
  }
}